/* 
========================================
Team 94 CI 103 Spring 2018 Final Project
========================================
Andrew Yaros
Jacob Proctor
Jung Ho Baek
Riley Faulkner
========================================
John Fry's Food Truck Extravaganza!
Editor CSS file
========================================
*/
html, body {
	height: 99%;
	width: 99%;
} body {
	background-color: #fafafa;
	font-size: 11pt;
	font-family: sans-serif;
} #mainbody {
	table-layout: auto;
	width: 100%;
	height: 100%;
} #display{
	width: 30%;
	height:100%;
	overflow: hidden;
} #control {
	width: 70%;
	height: 100%;
	overflow: hidden;
} #controldiv {
	width: 98%;
	padding-left: 2%;
	height: 100%;
	overflow-y: auto;
} .messageArea, #displayArea, #controldiv {
	border: 1px solid #dddddd;
} .messageArea, #displayArea {
	overflow: auto;
} .messageArea {
	max-width: 100%;
	color: #000000;
	background-color: #ffeedd;
	height: 32px;
} #displayArea {
	width: 98%;
	padding-right: 2%;
	color: #000000;
	background-color: #eeeeee;
	height: 100%;
	margin-right: 15px;
} #additionTable {
	border: none;
	vertical-align: bottom;
} .addTableTextArea {
	width: 140px;
	resize: none;
} .addTableCell {
	vertical-align: bottom;
} button {
	width: 200px;
	height: 32px;
	font-size: 12pt;
	color: black;
	background-color: white;
	border: 1.5px solid black;
	border-radius: 20px;
} button:hover {
	color: white;
	background-color: black;
} #savebutton {
	color: black;
	background-color: #aaffaa;
} #savebutton:hover {
	color: white;
	background-color: #00aa00;
} #refreshbutton {
	color: black;
	background-color: #ff9999;
} #refreshbutton:hover {
	color: white;
	background-color: #ff0000;
} #additionTable td {
	background-color: #f2f2f2;
} hr.line1 {
	border: 0;
	height: 100px;
	background: transparent;
}